<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>French</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cba</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocCB.icns</string>
			<key>CFBundleTypeName</key>
			<string>Comptes Bancaires</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>THCB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.thierryboudiere.comptesbancaires.cba</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DocCBXML.icns</string>
			<key>CFBundleTypeName</key>
			<string>Comptes Bancaires XML</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>THCX</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.thierryboudiere.comptesbancaires.cbx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CBDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>CBHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Aide Comptes Bancaires</string>
	<key>CFBundleIconFile</key>
	<string>AppCB</string>
	<key>CFBundleIdentifier</key>
	<string>com.thierryboudiere.ComptesBancaires</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4</string>
	<key>CFBundleSignature</key>
	<string>THCB</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>build 41</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comptes Bancaires</string>
			<key>UTTypeIconFile</key>
			<string>DocCB.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.thierryboudiere.comptesbancaires.cba</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>THCB</string>
				<key>public.filename-extension</key>
				<array>
					<string>cba</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Comptes Bancaires XML</string>
			<key>UTTypeIconFile</key>
			<string>DocCBXML.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.thierryboudiere.comptesbancaires.cbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>THCX</string>
				<key>public.filename-extension</key>
				<array>
					<string>cbx</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
